
//Крестик при нажатии на бургер и жалюзи
.header__burger.active:before{
	transform: rotate(45deg);
	top: 9px;
}
.header__burger.active:after{
	transform: rotate(-45deg);
	bottom: 9px;
}
.header__burger.active span{
	transform:scale(0);
}
.header__menu.active{
	top:0;
}